@media (max-width: 1439px) {
    .center {
        padding-left: 32px;
        padding-right: 32px;
    } 
}

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .top-content {
        height: 735px;
    }

    .title {
        padding-top: 239px;
        width: auto;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
    }

    .instruction {
        margin-top: 33px;
        width: auto;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }

    .button {
    margin: 33px auto;
    }

    .game-box { 
        height: 1221px;
    
        &__content {
        grid-template-columns: repeat(4, 1fr);  
        } 
    
        &__item {
            padding: 32px 16px;
            box-sizing: border-box;
            border-radius: 16px;
            grid-column: span 4;
        }     
    } 
}